
li {
    display: inline-block;
    /* border: solid; */
    padding: 14px;
    font-size: 20px;
    margin: 2px;
    /* height: 100%; */
    align-items: center;
    color: gold;
   
}
#menubar {
        text-align: center;
        background-color: rgb(1, 12, 12);
        position: relative;
    }

a {
    color: gold;
   
    
}

li:hover {   
    background-color: rgb(219, 29, 29)

}

img {
    height: 20%;
    width: 50%;
    margin-left: auto;
  margin-right: auto;
  display: block;
}

